{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    
    {% include 'components/header.html.twig' %}
    
    <div class="container mt-5 mt-sm-0">
        <div class=" row vh-100 align-items-center">
            <div class="row gx-5">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{type}} text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                
                <!-- CATEGORIE -->
                <div class="col-12 col-md-6 mb-4">
                    <div class="row g-4">                 
                        {% for category in categories %}
                            {% if category.active == true %}
                                <div class="col-12 col-sm-6">
                                    <div class="p-5 bg-primary text-center">
                                        <a href="{{ path('category_index', {designation: category.designation}) }}" class="text-white text-decoration-none fw-bold display-6">{{ category.designation }}</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                
                <!-- REFERENCE -->
                <div class="text-center col-12 col-md-6 align-self-center "> 
                    <p class="my-sm-6 lead">Acceder directement à la référence :  </p>
                    {{ form(form) }}    
                </div> 
            </div> 
        </div>
    </div>
{% endblock %}