{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <nav class="navbar">
        <div class="container justify-content-end fixed-top">
          <a class="navbar-brand text-uppercase fs-1 fw-bold " href="{{path('main_index')}}">Accueil</a>
        </div>
      </nav>
      

 
      <div class="container">

    
        <div class=" row vh-100 align-items-center">

  
        <div class="row">
            {% for message in app.flashes('warning') %}
            <div class="alert alert-warning text-center">
                {{ message }}
            </div>
        {% endfor %}
                    <!-- CATEGORIE -->

                    <div class="col-md-12 col-lg-6 mb-4 d-grid">
                        <div class="row">              
                 {% for category in categories %}
                <div class="col-md-12 col-lg-6 my-1 "> 
    {% if category.designation == "Ram" %}
                                   <div class=" p-md-5 m-3 bg-warning h-100 text-center">
                                    <a href="{{ path('category_index', {designation:category.designation }) }}" class="text-center text-white fs-1 fw-bold display-6  ">{{ category.designation | upper }}</a>
                                </div>
       {% elseif category.designation == "Mixer"  %}
                     
                                   <div class=" p-md-5 m-3 bg-dark h-100 text-center">
                                    <a href="{{ path('category_index', {designation:category.designation }) }}" class=" text-white fs-1 fw-bold display-6 ">{{ category.designation  | upper }}</a>
                                </div>
        {% elseif category.designation == "Polin"  %}
                     
                                   <div class=" p-md-5 m-3 bg-secondary h-100 text-center">
                                    <a href="{{ path('category_index', {designation:category.designation }) }}" class="text-center text-white fs-1 fw-bold display-6 ">{{ category.designation  | upper }}</a>
                                </div>
       {% elseif category.designation == "Toiles Tapis"  %}
                     
                                   <div class=" p-md-5 m-3 bg-success h-100 text-center">
                                    <a href="{{ path('category_index', {designation:category.designation }) }}" class="text-center text-white fs-1 fw-bold display-6 ">{{ category.designation  | upper }}</a>
                                </div>
        {% endif %}

                                
                         </div>
                    {% endfor %}
                          
                            </div>
                    </div>
                        <!-- reference -->
                       
                    <div class=" text-center col-md-12 col-lg-6 align-self-center "> 
                        <p class="my-sm-6 lead">Acceder directement à la rèférence :  </p>
                            
                              {{ form(form) }}    
                              
                    </div> 
                   
        </div> 
        
  </div>
  </div>
  
{% endblock %}
