 
                                            {# <h1 class="display-6 lead">{{sparePart.reference }}</h1> #}
                                            {# <h6>{{sparePart.designation }}</h6> #}
                                            {# <p class="text-muted text-sm-center">   {{sparePart.description }}</p> #}

                                            {# <h4 class="text-end text-sm-center mt-5 my-sm-2">Prix public HT:  {{sparePart.unitPrice  / 100}} €</h4> #}
                                            <h4 class="my-4 text-center"> Quantité : <input type="number" class="bg-secondary w-25"></h4>
                                            
                                                <div class="my-4 text-center text-sm-end">
                                                    <button type="button" class="btn btn-warning btn-lg">
                                                        <a class="nav-link "  href="#">PANIER</a></button>
                                                </div>
                            
                    {# {% else %}
                              {% for message in app.flashes('warning') %}
            <div class="alert alert-warning text-center">
                {{ message }}
            </div>
        {% endfor %}
                </div>



          {% endif %} #}
       
            