{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Recherche{% endblock %}

{% block body %}

{% include "components/header.html.twig" %}

        <!-- section  -->
    <div class="container d-flex flex-column  d-flex flex-wrap my-5 ">
        <div class=" row vh-100 align-items-center ">
        <div class="row ">
                <!-- photo -->
                <div class="col-sm mx-2">
                                <p class="text-center"> 
                                    <strong> (PDF éclaté machine avec références)</strong></p>

                                    <img src="{{ asset('images/machine.png') }}" width="90%" height="95%" alt="pieces">
                                 
                </div>

                <!--  rechercher -->
              
                <div class="col-sm  mx-2"> 
                                <div class=" ">

                     {# <select class="form-select  mt-5 my-sm-2 text-center" aria-label="Default select example" name="deviceType[]" id="filters">
                                        <option selected>type machin/liste</option>
                                        {% for device in deviceModel %}
                                                                <option value="1">{{device.designation}}</option>
                                                            
                                        {% endfor %}
                                    
                                        </select>
                       #}
                       
                                  {# {% if deviceModel == "Ram" %} #}
                                          {# {{ form_start(form) }}

                                               {{ form_row(form.deviceType) }}
                                               {{ form_row(form.matricule) }}
                                               {{ form_row(form.reference) }}
                                
                                {{ form_end(form) }} #}

                                 {# {% endif %} #}
                                        <div class="my-5 py-5"> 
                                            {# <img src=" {{ asset('images/parts/' ~  sparePart.image) }}" alt="polin" class="w-100"> #}
                                        </div>
                                    </div>
                    </div>

                 <!-- details -->
           <div class="col-sm mx-2  " id="details">
                 {% include "category/category.html.twig" %}
                 </div>  
        </div>             
    </div>
 {% endblock %}
    {% block javascripts %}
    <script src="{{ asset('js/filters.js') }}"></script>
{% endblock %}