{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-dark py-0 px-0 fixed-top">
        <div class="container-fluid px-0  ">
            <div> <a class="navbar-brand text-white mx-3 fw-bold fs-2 " href="{{path('main_index')}}">{{sparePart.designation |upper }}</a></div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

                <ul class="navbar-nav ">
                     <li class="nav-item active">
                        <a class="nav-link bg-secondary px-5 text-white fw-bold fs-5 " href="#"><i class="fa-solid fa-user"></i>
                          </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link bg-warning bg-opacity-50 px-5 text-white fw-bold fs-5"
                            href="{{ path('main_index') }} " target="_blank"><i class="fa-solid fa-house-chimney"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-success bg-opacity-75 px-5 text-white fw-bold fs-5"
                            href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-light px-5 fw-bold fs-5"
                            href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    </li>
    
                </ul>
            </div>
        </div>
    </nav>

        <!-- section  -->
    <div class="container d-flex flex-column  d-flex flex-wrap my-5 ">
        <div class=" row vh-100 align-items-center ">
        <div class="row ">
                <!-- photo -->
                <div class="col-sm mx-2">
                                <p class="text-center"> 
                                    <strong> (PDF éclaté machine avec références)</strong></p>

                                    <img src="{{ asset('images/machine.png') }}" width="90%" height="95%" alt="pieces">
                                 
                </div>

                <!--  rechercher -->
              
                <div class="col-sm  mx-2"> 
                                <div class=" ">

                     {# <select class="form-select  mt-5 my-sm-2 text-center" aria-label="Default select example" name="deviceType[]" id="filters">
                                        <option selected>type machin/liste</option>
                                        {% for device in deviceModel %}
                                                                <option value="1">{{device.designation}}</option>
                                                            
                                        {% endfor %}
                                    
                                        </select>
                       #}
                       
                                  {# {% if deviceModel == "Ram" %} #}
                                          {{ form_start(form) }}

                                               {{ form_row(form.deviceType) }}
                                               {{ form_row(form.matricule) }}
                                               {{ form_row(form.reference) }}
                                
                                {{ form_end(form) }}

                                 {# {% endif %} #}
                                        <div class="my-5 py-5"> 
                                            <img src=" {{ asset('images/parts/' ~  sparePart.image) }}" alt="polin" class="w-100">
                                        </div>
                                    </div>
                    </div>

                 <!-- details -->
           <div class="col-sm mx-2  " id="details">
                 {% include "category/category.html.twig" %}
                 </div>  
        </div>             
    </div>
 {% endblock %}
    {% block javascripts %}
    <script src="{{ asset('js/filters.js') }}"></script>
{% endblock %}