{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Recherche{% endblock %}

{% block body %}

    {% include "components/header.html.twig" %}

    <div class="container d-flex flex-column  d-flex flex-wrap my-5 ">
        <div class="row vh-100 align-items-center ">
            <div class="row ">
                <!-- photo -->
                <div class="col-sm mx-2">
                    <img src="{{ asset('images/machine.png') }}" alt="pieces" class="img-fluid">             
                </div>
                <!--  form -->
                <div class="col-sm  mx-2">
                    <div class=" ">
                        <form id="filters">
                            <div class="mb-3">
                                <select class="form-select" id="deviceType" name="deviceType">
                                    <option selected disabled>Choisissez le type d'appareil</option>
                                    {% for deviceType in category.deviceTypes %}
                                        <option value="{{ deviceType.id }}">{{ deviceType.designation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <select class="form-select text-muted" id="deviceModel" name="deviceModel" disabled>
                                    <option selected>Choisissez le modèle</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <select class="form-select text-muted" id="sparePart" name="sparePart" disabled>
                                    <option selected>Choisissez la pièce détachée</option>
                                </select>
                            </div>
                        </form>
                        
                        <div class="my-5 py-5"> 
                        </div>
                    </div>
                </div>

                <!-- details -->
                <div class="col-sm mx-2" id="details">
                    {% include "category/category.html.twig" %}
                </div>  
            </div>             
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/filters.js') }}"></script>
{% endblock %}